<ul class="nav nav-pills">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'layers:index' %}">Layers</a></li>
</ul>

<script>
    String.prototype.rsplit = function(sep, maxsplit) {
        var split = this.split(sep);
        return maxsplit ? [ split.slice(0, -maxsplit).join(sep) ].
                                concat(split.slice(-maxsplit)) : split;
    }

    resource = document.location.pathname.rsplit('/',-2);
    if (resource.length > 1) resource = resource[0] + '/';
    $('ul.nav > li > a[href="' + resource + '"]').parent().addClass('active');
</script>
